mat-form-field{
  width: 100%;

}
mat-card {
  margin-top: 1rem;
  background-color: rgb(128, 128, 128);
  margin-left: 27%;
  width: 40%;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
}
