
.main {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
}
.sidenav {
  background-color: green;
  width: 20%;
}
.routing {
  overflow-y: scroll;
  height: 530px;
  width: 78.7%;
}
