mat-sidenav-container{
  background-color: gray;
}
button{
  font-size: 20px;
  font-family: 'EB Garamond', serif;
  width: 100%;
}
button:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
h3{
  text-align: center;
}
mat-sidenav-content{
  margin: 6px;
}
